html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.title {
  font-family: "DM Serif Text", serif;
  font-weight: 300 !important;
}
/* Home Page Start*/

body {
  background-color: #efefef;
}

/* Animations */

/* Home Page End */

/* Login Page Start*/
::placeholder {
  font-size: 16px;
}

/* Login Page End */

/* Register Page Start*/

/* Register Page End */

/* Booking Page Start*/

/* Booking Page End */

/* Contact Page Start*/

/* Contact Page End */
