html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.title {
  font-family: "DM Serif Text", serif;
  font-weight: 300 !important;
}
/* Home Page Start*/

body {
  background-color: #efefef;
}

/* Animations */

/* Home Page End */

/* Login Page Start*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background-color: white;
}
.box-area{
    width: 930px;
}
.right-box{
    padding: 40px 30px 40px 40px;
}
::placeholder{
    font-size: 16px;
}

/* Login Page End */

/* Register Page Start*/

/* Register Page End */

/* Booking Page Start*/

/* Booking Page End */

/* Contact Page Start*/

/* Contact Page End */
